.half
	height: 100%
	display: flex
.connection
	&-wrap
		height: auto
		padding-top: 68px
		padding-bottom: 34px
	&-title
		text-shadow: 0 8px 9px rgba(0, 0, 0, 0.25)
		color: $black
		letter-spacing: 3px
		text-align: center
		font-size: 50px
		+Code-Pro-Regular
	&-subtitle
		color: $dark-grey
		font-size: 17px
		letter-spacing: 1.02px
		margin-bottom: 95px
		text-align: center

.contacts
	width: 50%
	height: 100%
	&-title
		color: $black
		font-size: 24px
		letter-spacing: 1.44px
		margin-bottom: 31px
	&-information
		&__list
			display: flex
			align-content: space-between
			align-items: center
			margin-bottom: 25px
			&-img
				width: 35px
				height: 35px
				margin-right: 42px
				background:
					repeat: no-repeat
					position: center
					size: cover
				&__1
					background-image: url('../img/contact/location.png')
				&__2
					background-image: url('../img/contact/email.png')
				&__3
					background-image: url('../img/contact/call.png')
			&-text
				color: $dark-grey
				font-size: 20px
				letter-spacing: 1.2px
				& a
					color: $dark-grey
					transition: .5s
					&:hover
						color: $black
						text-shadow: 4px 2px 1px rgba(0,0,0,0.55)
						transition: .5s
	&-map
		margin-top: 35px
		width: 100%
		height: auto
		position: relative
		&:before
			content: ''
			background-color: $menu-color
			opacity: .3
			width: 100%
			height: 100%
			position: absolute
			z-index: 1
			transition: .5s
		&:hover
			&:before
				opacity: 0

.request
	width: 50%
	height: 100%
	// background-color: $dark-grey
	padding-left: 110px
	position: relative
	&:before
		content: ''
		background-color: #242424
		width: 3px
		height: 587px
		position: absolute
		left: 2%
		top: 6%

	&-title
		color: $black
		font-size: 24px
		letter-spacing: 1.44px
		margin-bottom: 47px
	&-form
		display: flex
		flex-direction: column
		width: 350px
		&__input
			height: 38px
			width: 100%
			margin-bottom: 25px
			color: $light-gray
			font-size: 19px
			letter-spacing: 1.14px
			border-bottom: 2px solid $menu-color
			padding-left: 15px
			position: relative
			display: block
			&:focus
				color: #242424
				transition: .7s
				border-bottom: 2px solid $light-gray
			// &-focus
			// 	&:after
			// 		content: ""
			// 		position: absolute
			// 		bottom: 0
			// 		left: 50%
			// 		width: 60%
			// 		height: 2px
			// 		margin-left: -30%
			// 		background: #000
		&__textarea
			height: 138px
		&__button
			width: 100%
			height: 58px
			color: $dark-grey !important
			background-color: transparent
			border: 2px solid $menu-color
				radius: 39px
			color: $white
			font-size: 24px
			transition: .5s
			&:hover
				background-color: $black
				color: $white !important
				
			

