	@font-face {
font-family: 'Open Sans Light';
src: url('../fonts/open_sans/OpenSans-Light.eot');
src: url('../fonts/open_sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/open_sans/OpenSans-Light.woff') format('woff'),
url('../fonts/open_sans/OpenSans-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans Regular';
src: url('../fonts/open_sans/OpenSans-Regular.eot');
src: url('../fonts/open_sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/open_sans/OpenSans-Regular.woff') format('woff'),
url('../fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Code Pro Light';
src: url('../fonts/code_pro/Code-Pro-Light.eot');
src: url('../fonts/code_pro/Code-Pro-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/code_pro/Code-Pro-Light.woff') format('woff'),
url('../fonts/code_pro/Code-Pro-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Code Pro Regular';
src: url('../fonts/code_pro/Code-Pro.eot');
src: url('../fonts/code_pro/Code-Pro.eot?#iefix') format('embedded-opentype'),
url('../fonts/code_pro/Code-Pro.woff') format('woff'),
url('../fonts/code_pro/Code-Pro.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Cambria Bold';
src: url('../fonts/cambria/Cambria-Bold.eot');
src: url('../fonts/cambria/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/cambria/Cambria-Bold.woff') format('woff'),
url('../fonts/cambria/Cambria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Cambria Italic';
src: url('../fonts/cambria/Cambria-Italic.eot');
src: url('../fonts/cambria/Cambria-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/cambria/Cambria-Italic.woff') format('woff'),
url('../fonts/cambria/Cambria-Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Cambria Regular';
src: url('../fonts/cambria/Cambria.eot');
src: url('../fonts/cambria/Cambria.eot?#iefix') format('embedded-opentype'),
url('../fonts/cambria/Cambria.woff') format('woff'),
url('../fonts/cambria/Cambria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}