.footer
	// height: 241px
	// border: 2px solid #666666
	background-color: $black
	padding-top: 33px
	&-logo
		width: 100px
		height: 100px
		background:
			image: url('../img/logo2.png')
			repeat: no-repeat
			position: center
			size: cover
		display: inline-block
	&-rights
		display: inline-block
		font-size: 22px
		color: $dark-grey
		text-align: center
		// margin-top: .5em
		margin: .5em 0

	&-icon
		display: flex
		width: 140px
		justify-content: space-between
		margin: 9px 0
		&__img
			width: 29px
			height: 29px
			cursor: pointer
			background: 
				repeat: no-repeat
				position: center 
				size: contain
			&-1
				background-image: url('../img/team/messenger/instagram-logo.png')
			&-2
				background-image: url('../img/team/messenger/vk-logo.png')
			&-3
				background-image: url('../img/team/messenger/whatsapp-logo.png')
			&:hover
				transform: scale(1.2)
				transition: .2s

.center-footer
	display: flex
	justify-content: space-between
	align-items: center
	flex-direction: column