.header 
	background: 
		image: url('../img/main-img.png')
		repeat: no-repeat
		size: cover
		attachment: fixed
		color: #1c1417
		position: center
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
	&-text
		position: absolute
		width: 100%
		top: 40%
		left: 0
		&__title
			font-size: 38px
			+Code-Pro-Regular
			text-align: center
			line-height: 1.3
	&-maus
		border: 2px solid #fff
		border-radius: 25px
		height: 80px
		width: 44px
		display: block
		z-index: 10
		position: absolute
		left: 0
		right: 0
		margin: auto
		bottom: 3%
		z-index: 0
		&:after
			position: absolute
			content: ''
			border-radius: 4px
			background: #ffffff
			width: 6px
			height: 20px
			left: 0%
			right: 0
			margin: auto
			top: 15%
			animation-name: drop
			animation-duration: 1s
			animation-timing-function: linear
			animation-delay: 4s
			animation-iteration-count: infinite
			animation-play-state: running	
.container
	&-main
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%

.main
	width: 100%
	height: 100px
	background-color: #1c1417
	&-menuList
		display: flex
		&__item
			margin-left: 30px
			& a
				font-size: 18px
				color: #ffffff
	&-logo 
		background: url('../img/logo2.png') no-repeat center 
			size: cover
		width: 5.5em
		height: 5em
		margin-left: 15px


	


	