@media (max-width: 1199px)
 .container
	 width: 95%
	
// @media (max-width: 992px)
	////95%
@media (max-width: 768px)
	.main
		background-color: transparent
		&-menu
		&-menuList
			display: none
		&-button
			display: block
	.header
		&-text
			&__title
				font-size: 35px
	.center
		justify-content: center
@media (max-width: 576px)
	.container
		width: 98%
	.header
		&-text
			&__title
				font-size: 25px
				text-align: center
	.wrap
		width: 430px
		&-discr
			margin-top: 2.6em
			font-size: 23px
@media (max-width: 456px)
	.header
		&-text
			&__title
				font-size: 22px
				text-align: center
	.main
		&-menuList
			&__item
				& a 
					font-size: 30px
	.wrap
		width: 315px
		padding: 40px 23px
		&-title
			font-size: 30px
			&:after
				top: 15px
		&-discr
			margin-top: 1.6em
			font-size: 21px
@media (max-width: 380px)
	.header
		&-text
			&__title
				font-size: 21px
	.main
		&-logo
			background-size: 80%
		&-mobileMenu
			width: 200px
			&__item
				height: 60px
				& a
					font-size: 23px
	.wrap
		width: 290px
		padding: 35px 12px
		&-title
			font-size: 28px
		&:discr
			font-style: 19px
	.section
		padding: 57px 0
	.block
		&-number
			margin-bottom: 0
// @media (max-width: 320px)


