.serves
	background-color: #000000
	padding: 170px 0
	&-block
		width: 360px
		height: 613px
		border-radius: 10px
		background-image: linear-gradient(to top, #000001 0%, #ffffff 100%)
		opacity: 0.4
		padding: 38px 15px
		&__img
		&__discr
			color: #b4b4b4
			font-style: 20px